<p id="notice"><%= notice %></p>

<h1>Users</h1>
<div class="container">
<div class="column is-one-quarter is-offset-three-quarters">
<%= will_paginate @users %>
</div>
</div>

<div class="container"
  <div class="column is-half is-offset-one-quarter">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user), class: "link" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="column is-offset-5"
<div class="column is-2">
<%= link_to 'Create New User', new_user_path, class: "button is-info is-small" %>
</div>