<p id="notice"><%= notice %></p>
<div class="column is-half is-offset-one-quarter">
  <h1><%= @user.name %></h1>
  <p class="text-center">
    <%= @user.email %>
  </p>

  <h1>Upcoming Events</h1>
  <table>
    <tbody>
    <% @upcoming_events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h1>Past Events</h1>
  <table>
    <tbody>
    <% @past_events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>



</div>