<h1>New Event</h1>
<div class="column is-half is-offset-one-quarter">
  <%= form_for(@event) do |f| %>
    <div class="field">
      <%= f.label :title, class: "label" %>
      <%= f.text_field :title, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :description, class: "label" %>
      <%= f.text_area :description, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :starts_at, class: "label" %>
      <%= f.datetime_field :starts_at, class: "input", placeholder: "2017-01-01 12:00" %>
    </div>

    <%= f.submit "Create", class: 'button is-primary' %>
  <% end %>
</div>
</div>