<h1><%= @event.title.capitalize %></h1>
<div class="container is-half is-offset-one-quarter">
  <table>
    <tr>
      <th>Description</th>
      <th>Starts at</th>
      <th>Creator</th>
      <th colspan="1"></th>
    </tr>
    <tr>
      <td><%= @event.description %></td>
      <td><%= @event.starts_at %></td>
      <td><%= @event.host.name %></td>
      <% if current_user == @event.host %>
        <td><%= link_to "Delete", @event, method: :delete, 
                                          data: { confirm: "Are you sure?" } %>
      <% end %>
    </tr>
  </table>

  <h1>Attending</h1>
  <% @attendees.each do |user| %>
    <ul class="text-center"><%= user.name %></ul>
  <% end %>

</div>