<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations">
      Odin Events
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Home", root_url, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <% if logged_in? %>
        <%= link_to current_user.name, current_user, class: "navbar-item" %>
        <%= link_to "All Users", users_url, class: "navbar-item" %>
        <%= link_to "All Events", events_url, class: "navbar-item" %>
        <%= link_to logout_url, class: "button is-primary" do %>
          <p class="control">
          <span class="icon">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </span>
          <span>Log Out</span>
          </p>
        <% end %>
      <% else %>
      <div class="navbar-item">
        <div class="field is-grouped">
          <%= link_to "Log In", login_path, class: "navbar-item" %>
          <%= link_to signup_url, class: 'button is-primary' do %>
            <p class="control">
              <span class="icon">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
              </span>
              <span>Sign Up</span>
            </p>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</nav>