<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvent</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "notification is-#{message_type}") %>
      <% end %>
    </div>

    <div class="content">
      <%= render 'layouts/navbar' %>
      <%= yield %>
    </div>
    <% if Rails.env.development? %>
      <br /><br />
      <%= debug(params) %> 
    <% end %>
  </body>
</html>
